.Hero {
    text-align: center;
    background-color: #7e29ff;
    padding-top: 25px;
}
.heroContent {
    display: flex;
    padding-top: 10px;
    max-width: 1000px;
    margin: auto;
}
.heroText {
    width: 50%;
    padding-top: 105px;
}
.heroImgDiv {
    width: 50%;
    height: 500px;
}
.heroImgDiv img {
    max-height: 425px;
    border-radius: 20px;
}

@media (max-width: 830px) {
    .Hero {
        padding-top: 0;
    }
    .heroContent {
        display: block;
    }
    .heroText {
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    .heroImgDiv {
        margin: 90px auto 0;
        width: 100%;
    }
}

@media (max-width: 410px) {
    .auBtn {
        display: inline-block;
        width: unset;
        height: unset;
        padding: 5px 10px !important;
        line-height: normal;
    }
}